@import url(Setting.css);
@import url(Menu.css);
@font-face {
    font-family: "OpenSans Light";
    src: url("../Fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("../Fonts/Roboto-LightItalic.ttf");
}
