/* New collection */
@media only screen and (min-width: 1200px) {
section.new{
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.new>h1{
    font-family: "Arial Black";
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
    padding-bottom: 60px;
}
section.new>h1>span{
    color: #00a2e8;
}
section.new>img{
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}
section.new>div.pro{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
section.new>div.pro>div{
    width: 260px;
    height: 320px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
section.new>div.pro>div>h1{
    width: inherit;
    height: 40px;
    font-size: 18px;
    font-family: "Arial";
    text-transform: uppercase;
    background-color:#35312e;
    color: white;
    position: absolute;
    bottom: 0;
    line-height: 40px;
    text-indent: 10px;
    transition: all 300ms linear;
}
section.new>div.pro>div>h2{
    width: 50px;
    height: 40px;
    font-size: 18px;
    font-family: "Arial";
    text-transform: uppercase;
    background-color: #948a85;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    transition: all 300ms linear;
}
section.new>div.pro>div:hover>h1{
    background-color: #00a2e8;
}
section.new>div.pro>div:hover>h2{
    background-color: #86c3dd;
}
section.new>div.pro>div>div.greyP{
    width: 90%;
    height: 80%;
    background-color: #7a716d;
    position: absolute;
    margin: 8px;
    margin-bottom: 42px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms linear;
}
section.new>div.pro>div:hover>div.greyP{
    opacity: 1;
}
section.new>div.pro>div>div.greyP>div.icons{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
section.new>div.pro>div>div.greyP>div.icons>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    padding-top: 20px;
    transition: all 300ms linear;
}
section.new>div.pro>div>div.greyP>div.icons>div>a{
    width: inherit;
    height: inherit;
    display: block;
    text-align: center;
}
section.new>div.pro>div>div.greyP>div.icons>div>a>img{
    width: auto;
    height: 28px;
}
section.new>div.pro>div>div.greyP>div.buy{
    width: 170px;
    height: 50px;
    background-color: #00a2e8;
    transition: all 300ms linear;
}
section.new>div.pro>div>div.greyP>div.buy>div{
    font-size: 28px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
}
section.new>div.pro>div>div.greyP>div.buy>div>a{
    font-size: 24px;
    display: block;
    color: whitesmoke;
    font-family: "OpenSans Light";
    line-height: 40px;
}
section.new>div.pro>div>div.greyP>div.icons>div:hover{
    background-color: #00a2e8;
    border: none;
}
section.new>div.pro>div>div.greyP>div.buy:hover{
    background-color: #35312e;
}
 }
@media only screen and (max-width: 1200px) and (min-width: 990px){
    section.new{
        width: 100%;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1500px;
    }
    section.new>h1{
        font-family: "Arial Black";
        text-transform: uppercase;
        font-size: 48px;
        text-align: center;
        padding-bottom: 60px;
    }
    section.new>h1>span{
        color: #00a2e8;
    }
    section.new>img{
        width: 100%;
        height: 200vh;
        position: absolute;
        z-index: -1;
        filter: brightness(50%);
    }
    section.new>div.pro{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    section.new>div.pro>div{
        width: 260px;
        height: 320px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
    }
    section.new>div.pro>div>h1{
        width: inherit;
        height: 40px;
        font-size: 18px;
        font-family: "Arial";
        text-transform: uppercase;
        background-color:#35312e;
        color: white;
        position: absolute;
        bottom: 0;
        line-height: 40px;
        text-indent: 10px;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>h2{
        width: 50px;
        height: 40px;
        font-size: 18px;
        font-family: "Arial";
        text-transform: uppercase;
        background-color: #948a85;
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 40px;
        text-align: center;
        transition: all 300ms linear;
    }
    section.new>div.pro>div:hover>h1{
        background-color: #00a2e8;
    }
    section.new>div.pro>div:hover>h2{
        background-color: #86c3dd;
    }
    section.new>div.pro>div>div.greyP{
        width: 90%;
        height: 80%;
        background-color: #7a716d;
        position: absolute;
        margin: 8px;
        margin-bottom: 42px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 300ms linear;
    }
    section.new>div.pro>div:hover>div.greyP{
        opacity: 1;
    }
    section.new>div.pro>div>div.greyP>div.icons{
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    section.new>div.pro>div>div.greyP>div.icons>div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 5px;
        border: 1px solid whitesmoke;
        box-sizing: border-box;
        padding-top: 20px;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>div.greyP>div.icons>div>a{
        width: inherit;
        height: inherit;
        display: block;
        text-align: center;
    }
    section.new>div.pro>div>div.greyP>div.icons>div>a>img{
        width: auto;
        height: 28px;
    }
    section.new>div.pro>div>div.greyP>div.buy{
        width: 170px;
        height: 50px;
        background-color: #00a2e8;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>div.greyP>div.buy>div{
        font-size: 28px;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: whitesmoke;
    }
    section.new>div.pro>div>div.greyP>div.buy>div>a{
        font-size: 24px;
        display: block;
        color: whitesmoke;
        font-family: "OpenSans Light";
        line-height: 40px;
    }
    section.new>div.pro>div>div.greyP>div.icons>div:hover{
        background-color: #00a2e8;
        border: none;
    }
    section.new>div.pro>div>div.greyP>div.buy:hover{
        background-color: #35312e;
    }
}
@media only screen and (max-width: 990px) and (min-width: 768px){
    section.new{
        width: 100%;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1500px;
    }
    section.new>h1{
        font-family: "Arial Black";
        text-transform: uppercase;
        font-size: 48px;
        text-align: center;
        padding-bottom: 60px;
    }
    section.new>h1>span{
        color: #00a2e8;
    }
    section.new>img{
        width: 100%;
        height: 200vh;
        position: absolute;
        z-index: -1;
        filter: brightness(50%);
    }
    section.new>div.pro{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    section.new>div.pro>div{
        width: 260px;
        height: 320px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
    }
    section.new>div.pro>div>h1{
        width: inherit;
        height: 40px;
        font-size: 18px;
        font-family: "Arial";
        text-transform: uppercase;
        background-color:#35312e;
        color: white;
        position: absolute;
        bottom: 0;
        line-height: 40px;
        text-indent: 10px;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>h2{
        width: 50px;
        height: 40px;
        font-size: 18px;
        font-family: "Arial";
        text-transform: uppercase;
        background-color: #948a85;
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 40px;
        text-align: center;
        transition: all 300ms linear;
    }
    section.new>div.pro>div:hover>h1{
        background-color: #00a2e8;
    }
    section.new>div.pro>div:hover>h2{
        background-color: #86c3dd;
    }
    section.new>div.pro>div>div.greyP{
        width: 90%;
        height: 80%;
        background-color: #7a716d;
        position: absolute;
        margin: 8px;
        margin-bottom: 42px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 300ms linear;
    }
    section.new>div.pro>div:hover>div.greyP{
        opacity: 1;
    }
    section.new>div.pro>div>div.greyP>div.icons{
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    section.new>div.pro>div>div.greyP>div.icons>div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 5px;
        border: 1px solid whitesmoke;
        box-sizing: border-box;
        padding-top: 20px;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>div.greyP>div.icons>div>a{
        width: inherit;
        height: inherit;
        display: block;
        text-align: center;
    }
    section.new>div.pro>div>div.greyP>div.icons>div>a>img{
        width: auto;
        height: 28px;
    }
    section.new>div.pro>div>div.greyP>div.buy{
        width: 170px;
        height: 50px;
        background-color: #00a2e8;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>div.greyP>div.buy>div{
        font-size: 28px;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: whitesmoke;
    }
    section.new>div.pro>div>div.greyP>div.buy>div>a{
        font-size: 24px;
        display: block;
        color: whitesmoke;
        font-family: "OpenSans Light";
        line-height: 40px;
    }
    section.new>div.pro>div>div.greyP>div.icons>div:hover{
        background-color: #00a2e8;
        border: none;
    }
    section.new>div.pro>div>div.greyP>div.buy:hover{
        background-color: #35312e;
    }
}
@media only screen and (max-width: 768px) and (min-width: 540px){
    section.new{
        width: 100%;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2200px;
    }
    section.new>h1{
        font-family: "Arial Black";
        text-transform: uppercase;
        font-size: 48px;
        text-align: center;
        padding-bottom: 60px;
    }
    section.new>h1>span{
        color: #00a2e8;
    }
    section.new>img{
        width: 100%;
        height: 200vh;
        position: absolute;
        z-index: -1;
        filter: brightness(50%);
    }
    section.new>div.pro{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    section.new>div.pro>div{
        width: 260px;
        height: 320px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
    }
    section.new>div.pro>div>h1{
        width: inherit;
        height: 40px;
        font-size: 18px;
        font-family: "Arial";
        text-transform: uppercase;
        background-color:#35312e;
        color: white;
        position: absolute;
        bottom: 0;
        line-height: 40px;
        text-indent: 10px;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>h2{
        width: 50px;
        height: 40px;
        font-size: 18px;
        font-family: "Arial";
        text-transform: uppercase;
        background-color: #948a85;
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 40px;
        text-align: center;
        transition: all 300ms linear;
    }
    section.new>div.pro>div:hover>h1{
        background-color: #00a2e8;
    }
    section.new>div.pro>div:hover>h2{
        background-color: #86c3dd;
    }
    section.new>div.pro>div>div.greyP{
        width: 90%;
        height: 80%;
        background-color: #7a716d;
        position: absolute;
        margin: 8px;
        margin-bottom: 42px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 300ms linear;
    }
    section.new>div.pro>div:hover>div.greyP{
        opacity: 1;
    }
    section.new>div.pro>div>div.greyP>div.icons{
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    section.new>div.pro>div>div.greyP>div.icons>div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 5px;
        border: 1px solid whitesmoke;
        box-sizing: border-box;
        padding-top: 20px;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>div.greyP>div.icons>div>a{
        width: inherit;
        height: inherit;
        display: block;
        text-align: center;
    }
    section.new>div.pro>div>div.greyP>div.icons>div>a>img{
        width: auto;
        height: 28px;
    }
    section.new>div.pro>div>div.greyP>div.buy{
        width: 170px;
        height: 50px;
        background-color: #00a2e8;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>div.greyP>div.buy>div{
        font-size: 28px;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: whitesmoke;
    }
    section.new>div.pro>div>div.greyP>div.buy>div>a{
        font-size: 24px;
        display: block;
        color: whitesmoke;
        font-family: "OpenSans Light";
        line-height: 40px;
    }
    section.new>div.pro>div>div.greyP>div.icons>div:hover{
        background-color: #00a2e8;
        border: none;
    }
    section.new>div.pro>div>div.greyP>div.buy:hover{
        background-color: #35312e;
    }
}
@media only screen and (max-width: 540px){
    section.new{
        width: 100%;
        height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2400px;
    }
    section.new>h1{
        font-family: "Arial Black";
        text-transform: uppercase;
        font-size: 48px;
        text-align: center;
        padding-bottom: 60px;
    }
    section.new>h1>span{
        color: #00a2e8;
    }
    section.new>img{
        width: 100%;
        height: 250vh;
        position: absolute;
        z-index: -1;
        filter: brightness(50%);
    }
    section.new>div.pro{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    section.new>div.pro>div{
        width: 260px;
        height: 320px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
    }
    section.new>div.pro>div>h1{
        width: inherit;
        height: 40px;
        font-size: 18px;
        font-family: "Arial";
        text-transform: uppercase;
        background-color:#35312e;
        color: white;
        position: absolute;
        bottom: 0;
        line-height: 40px;
        text-indent: 10px;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>h2{
        width: 50px;
        height: 40px;
        font-size: 18px;
        font-family: "Arial";
        text-transform: uppercase;
        background-color: #948a85;
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 40px;
        text-align: center;
        transition: all 300ms linear;
    }
    section.new>div.pro>div:hover>h1{
        background-color: #00a2e8;
    }
    section.new>div.pro>div:hover>h2{
        background-color: #86c3dd;
    }
    section.new>div.pro>div>div.greyP{
        width: 90%;
        height: 80%;
        background-color: #7a716d;
        position: absolute;
        margin: 8px;
        margin-bottom: 42px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 300ms linear;
    }
    section.new>div.pro>div:hover>div.greyP{
        opacity: 1;
    }
    section.new>div.pro>div>div.greyP>div.icons{
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    section.new>div.pro>div>div.greyP>div.icons>div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 5px;
        border: 1px solid whitesmoke;
        box-sizing: border-box;
        padding-top: 20px;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>div.greyP>div.icons>div>a{
        width: inherit;
        height: inherit;
        display: block;
        text-align: center;
    }
    section.new>div.pro>div>div.greyP>div.icons>div>a>img{
        width: auto;
        height: 28px;
    }
    section.new>div.pro>div>div.greyP>div.buy{
        width: 170px;
        height: 50px;
        background-color: #00a2e8;
        transition: all 300ms linear;
    }
    section.new>div.pro>div>div.greyP>div.buy>div{
        font-size: 28px;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: whitesmoke;
    }
    section.new>div.pro>div>div.greyP>div.buy>div>a{
        font-size: 24px;
        display: block;
        color: whitesmoke;
        font-family: "OpenSans Light";
        line-height: 40px;
    }
    section.new>div.pro>div>div.greyP>div.icons>div:hover{
        background-color: #00a2e8;
        border: none;
    }
    section.new>div.pro>div>div.greyP>div.buy:hover{
        background-color: #35312e;
    }
}
/* End of New collection */
/* Sale */
@media only screen and (min-width: 1200px) {
section.Sale{
    width: 100%;
    height: 300px;
    background-color: #00a2e8;
    position: absolute;
    top: 2100px;
}
section.Sale>div>h1{
    font-size: 60px;
    color: whitesmoke;
    font-family: "OpenSans Light";
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    padding-top: 50px;
}
section.Sale>div>h2{
    font-size: 40px;
    color: whitesmoke;
    font-family: "OpenSans Light";
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
}
}
@media only screen and (min-width: 990px) and (max-width: 1200px) {
    section.Sale{
        width: 100%;
        height: 300px;
        background-color: #00a2e8;
        position: absolute;
        top: 2400px;
    }
    section.Sale>div>h1{
        font-size: 60px;
        color: whitesmoke;
        font-family: "OpenSans Light";
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        padding-top: 50px;
    }
    section.Sale>div>h2{
        font-size: 40px;
        color: whitesmoke;
        font-family: "OpenSans Light";
        text-transform: uppercase;
        text-align: center;
        line-height: 80px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
    section.Sale{
        width: 100%;
        height: 300px;
        background-color: #00a2e8;
        position: absolute;
        top: 2400px;
    }
    section.Sale>div>h1{
        font-size: 60px;
        color: whitesmoke;
        font-family: "OpenSans Light";
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        padding-top: 50px;
    }
    section.Sale>div>h2{
        font-size: 40px;
        color: whitesmoke;
        font-family: "OpenSans Light";
        text-transform: uppercase;
        text-align: center;
        line-height: 80px;
    }
}
@media only screen and (min-width: 540px) and (max-width: 768px) {
    section.Sale{
        width: 100%;
        height: 300px;
        background-color: #00a2e8;
        position: absolute;
        top: 3000px;
    }
    section.Sale>div>h1{
        font-size: 60px;
        color: whitesmoke;
        font-family: "OpenSans Light";
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        padding-top: 50px;
    }
    section.Sale>div>h2{
        font-size: 40px;
        color: whitesmoke;
        font-family: "OpenSans Light";
        text-transform: uppercase;
        text-align: center;
        line-height: 80px;
    }
}
@media only screen and (max-width: 540px) {
    section.Sale{
        width: 100%;
        height: 400px;
        background-color: #00a2e8;
        position: absolute;
        top: 3500px;
    }
    section.Sale>div>h1{
        font-size: 60px;
        color: whitesmoke;
        font-family: "OpenSans Light";
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        padding-top: 50px;
    }
    section.Sale>div>h2{
        font-size: 40px;
        color: whitesmoke;
        font-family: "OpenSans Light";
        text-transform: uppercase;
        text-align: center;
        line-height: 80px;
    }
}